<ion-header>
  <ion-toolbar>
    <ion-title color="primary" ><ion-icon name="construct"></ion-icon>   -    Regle du Jeu</ion-title>
      <ion-back-button color="primary" slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>City Escape game</ion-card-subtitle>
      <ion-card-title  color="primary">Le Jeu</ion-card-title>
    </ion-card-header>
 
    <ion-card-content>
           Cette application est déstinée à réaliser un "jeu de piste" dans la ville de Colomiers pour découvrir de façon ludique certains endroits historiques de la ville. Il faudra répondre à une énigme à chaque étape du parcours pour accéder à l'étape suivante. Vous aurez des indices à votre disposition en cas de problème. <br><br> Bonne route !  
    </ion-card-content>

  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>City Escape game</ion-card-subtitle>
      <ion-card-title color="primary">Les Bornes</ion-card-title>
    </ion-card-header>
 
    <ion-card-content>
           Les Bornes sont les différentes étapes du jeu "Point d'arrêt dans la ville". Il vous faudra scanner le QR code à proximité du lieu pour accéder à l'énigme de la borne. 
    </ion-card-content>

  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>City Escape game</ion-card-subtitle>
      <ion-card-title color="primary">Les Enigmes</ion-card-title>
    </ion-card-header>
 
    <ion-card-content>
           Les énigmes sont le plus souvent dans l'attente de deux mots-clés pour accéder à la bonne réponse et donc à la borne suivante <br><br> Exemple: <br><br>
           Quel est le monument le plus connu de Paris :<br><br> Mots-clés attendu "tours" et "Effel" qui permettront de passer à l'énigme suivante. Les caractères spéciaux, majuscule ou minuscule ne sont pas gênants dans l'écriture de la réponse. <br><br>
           Un icon Note se trouve à gauche du champ réponse, elle vous permet d'écrire si besoin pour résoudre l'énigme plus facilement.
    </ion-card-content>

  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>City Escape game</ion-card-subtitle>
      <ion-card-title color="primary">Les Indices</ion-card-title>
    </ion-card-header>
 
    <ion-card-content>
           Chaque énigme est constituée de deux indices le 1er textuel et le 2ème visuel. La possibilité de passer à une autre borne sans avoir répondu à l'énigme précédente est possible pour cela il vous faut cliquer sur les deux indices et ensuite valider la réponse vide.  
    </ion-card-content>

  </ion-card>
  <ion-card>
  <ion-card-header>
    <ion-card-subtitle>City Escape game</ion-card-subtitle>
    <ion-card-title color="primary">Le Classement</ion-card-title>
  </ion-card-header>

  <ion-card-content>
          Vous avez la possibilité de participer à une version plus compétitive de l'application avec un classement via pseudo, en fonction de votre réponse à chaque énigme. 
          <br><br>
          ° 3 points si réponse directe (sans indice) <br>
          ° 2 points si indice 1 est consulté <br>
          ° 1 point si indice 1 et indice 2 sont consultés ou réponse à l'énigme non trouvée.<br><br>

          Cette version du jeu est optionnelle, vous pouvez consulter votre nombre de points dans l'onglet "Classement" dans la barre "Menu"
  </ion-card-content>

  </ion-card>

  

</ion-content>
